.DS_Store
dist/
build/
node_modules/
**/node_modules/
frontend/.env
frontend/dist/
frontend/node_modules/
integrations/.env
integrations/**/node_modules/
*.log

# local only
.git-filter-repo-replacements.txt
